.title {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  padding: 0px 0px 10px 0px;
  margin: 0;
  height: 120px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  text-transform: capitalize;
}

.content {
  margin-top: 140px;
}

.cards {
  margin: 0px 10px 100px 10px;
}