@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  color: #4c4c4c;
  height: 117px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  border-bottom: 1px solid #ebebeb;
  text-transform: capitalize;
  font-size: 12px;
  z-index: 999;
}

.title svg {
  padding: 25px 40px;
  border-radius: 8px;

}

.content {
  margin: 65px 10px 114px 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  z-index: 999;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
}

.nav p {
  border-bottom: 2px solid #f4f4f4;
    padding: 10px;
    color: #5d5d5d;
    text-align: center;
    transition: border 0.3s;
    margin: 0px;
    width: 100%;
    z-index: 999;
}

.nav p:hover {
  border-bottom: 2px solid #9cbcff;
  color: #9cbcff;
  font-weight: 500;
}

.navActive {
  background: #e4e4e4;
}

.card2 {
  background: rgba(255, 255, 255, 0.611);
  border-bottom: 1px solid rgb(227 227 227 / 66%);
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 6px;
  height: 100%;
}