@keyframes move {
  from {top: -8px;}
  to {top: 0px;}
}


.icon {
  color: rgb(119, 119, 119);
  font-size: 20px;
  width: 40px;
}

.main {
  position: relative;
  padding: 0px 10px;
  animation: move 0.7s;
}

.calendar {
  margin-top: 82px;
  padding: 20px;
  background: #FFFF;
  border-radius: 10px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 8px;
}

.date {
  text-align: center;
  padding: 6px;
  font-size: 14px;
  transition: all 0.2s;
    
}


.date:hover {
  color: #3674f9;
}

.weekday {
  text-align: center;
  padding: 8px;
  font-weight: 800;
  text-transform: uppercase;
  color: #5f5f5f;
  font-size: 13px;
}

.dots {
  display: flex;
  flex-direction: row;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 49%;
  margin: 0 auto;
}

