@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}


.icon {
  color: rgb(119, 119, 119);
  font-size: 20px;
  width: 40px;
}

.main {
  width: 100%;
  padding: 0px 0px;
  animation: fade 0.5s;
  z-index: -1;
}

.calendar {
  margin: 80px 10px 30px;
  padding: 20px;
  background: #FFFF;
  border-radius: 10px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 8px;
}

.date {
  text-align: center;
  padding: 6px;
  font-size: 14px;
  transition: all 0.2s;
    
}


.date:hover {
  color: #3674f9;
}


.weekday {
  text-align: center;
  padding: 8px;
  font-weight: 800;
  text-transform: uppercase;
  color: #5f5f5f;
  font-size: 13px;
}


.dots {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 5px;
  animation: fade 0.5s;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 49%;
}

.checkList {
  padding: 0px 10px;
}

.cardCheckbox {
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 
}

.checkboxWrapper {
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.checkboxWrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 12px;
  margin-right: 20px;
  outline: 0.07em solid #d7d7d7;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: -1px;
}

.checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:focus {
  box-shadow: 0 0 20px #007a7e;
}

input.checked::before {
  content: "";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.checkList h1 {
  font-size: 14px;
  padding-left: 5px;
  color: #9b9b9b;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}

.check {
  padding: 5px;
}

label {
  padding-left: 10px;
  width: 100%;
  color: rgb(97, 97, 97);
  font-size: 16px;
}

.count {
  color: #c9c9c9;
  font-size: 14px;
}


